/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLOR PALETTE */

:root {
  --background-color: #202639;
  --primary-color: #e8e8e7;
  --secondary-color: #314893;
  --tertiary-color: #a3c3fb;
}

/* GLOBAL */

* {
  box-sizing: border-box;
}

/* NAVBAR */

nav {
  border: 2px solid black;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.player {
  border: 2px solid black;
  width: 18rem;
  height: 32rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  object-fit: cover;
  overflow: hidden;
}

.player-image-container {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

.player-image-container > img {
  height: 100%;
  position: absolute;
}

.player-info {
  width: 100%;
}

footer {
  display: flex;
}

footer > ul {
  display: inline;
}