@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLOR PALETTE */

:root {
  --background-color: #000000;
  --secondary-background: #222344;
  --primary-color: white;
  --primary-highligth: #f6de6d;
  --secondary-highlight: #9e1e35;
  font-family: "Oswald", sans-serif;
}

/* GLOBAL */

* {
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: "Oswald", sans-serif;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  z-index: 1 ;
  background-color: var(--secondary-background);
  border: 2px solid black;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > a {
  color: var(--primary-highligth);
  font-weight: 700;
  font-size: 2rem;
}

body {
  background-color: var(--background-color);
}

input,
select,
option,
textarea {
  color: var(--background-color);
  height: 2rem;
  border-radius: 1rem;
}

input, select, option {
  padding: 0 0.5rem;
}

/* MAIN */

.search-container {
  margin-top: 5rem;
  height: 3rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.players-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.player {
  background-color: var(--secondary-background);
  border-radius: 1rem;
  width: 18rem;
  height: 32rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  object-fit: cover;
  overflow: hidden;
}

.player figcaption {
  color: var(--primary-highligth);
  font-weight: bold;
}

.player-image-container {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

.player-image-container > img {
  height: 100%;
  position: absolute;
}

.player-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

/* FOOTER */

footer {
  /* position: fixed; */
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  color: var(--primary-highligth);
}

footer > ul {
  display: inline;
}

footer img {
  height: 4rem;
  z-index: 1;
}
